.defaultHidden {
    display: none;
}

.visible {
    display: revert;
}


#sidebar {
    padding: 10px;

    background-color: darkslategray;
    color: white;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#sidebar.desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
}

#sidebar.mobile {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
}


.title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 45px;
    font-family: "Tektur", sans-serif;
    font-weight: 550;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25);
}

#missions {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

#missions ul {
    margin: 0px;
    font-size: 80%;
}


.setting {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.setting:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.settingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    height: 100%;
    padding-left: 10px;
}