#sidebar {
    
    background-color: darkslategray;
    color: white;
}

#sidebar.desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
}

#sidebar.mobile {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
}

.title {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
    overflow: hidden;
}